@model culinaryConnect.Domain.Entities.Admin.AdminWraper
@{
    Layout = "~/Views/Shared/layouts/_AdminLayout.cshtml";
}

<!-- Include Bootstrap CSS (if not already included in your layout) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

<div>this is admin</div>
