@model culinaryConnect.Domain.Entities.Admin.Admin
@{ Layout = "~/Views/Shared/layouts/_EmptyLayout.cshtml"; }

<div class="bg-dark">
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="text-center mb-4">Login</h3>

                    @using (Html.BeginForm("LoginRequest", "admin", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="email">Email</label>
                            @Html.TextBoxFor(m => m.AdminEmail, new { @class = "form-control", placeholder = "Enter email", required = "required" })
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            @Html.PasswordFor(m => m.AdminPassword, new { @class = "form-control", placeholder = "Enter password", required = "required" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    }

                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger mt-3">@ViewBag.ErrorMessage</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
