
@{
    ViewBag.Title = "AboutMe";
}

<section class="about-me spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="about-left">
                    <img src="img/photo_2025-02-23_18-54-32.jpg" alt="">
                    <div class="about-title">
                        <span> 17 Februarie 2025</span>
                        <h2>Arina Mitreanu și Daniel Petcov <br />studenții grupei TI-233</h2>
                        <p>
                            Bine ai venit pe Culinary Connect, locul unde pasiunea pentru gătit prinde viață! Această comunitate a fost fondată de 2 studenți pasionați de gătit, care recunosc că începutul a fost cel mai greu. Suntem o comunitate dedicată iubitorilor de mâncare și doritorilor să învețe arta culinară un spațiu virtual unde rețetele delicioase sunt împărtășite, descoperite și reinventate.
                            Misiunea noastră este să conectăm oameni din întreaga lume prin aromele și tradițiile culinare.

                        </p>
                        <p>
                            Ce oferim?
                            Rețete variate – De la preparate tradiționale la creații moderne, fiecare rețetă este testată și descrisă pas cu pas.
                            O comunitate activă – Îți poți împărtăși propriile rețete, poți primi feedback și poți interacționa cu alți pasionați de gastronomie.
                            Sfaturi și trucuri – Descoperă secretele bucătarilor experimentați și îmbunătățește-ți tehnicile culinare.

                            Ne dorim să transformăm gătitul într-o experiență accesibilă, distractivă și plină de savoare. Alătură-te nouă și împărtășește gustul pasiunii pentru mâncare!

                            Gătește. Împărtășește. Inspiră.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-right">
                    <div class="sidebar">
                        <div class="sidebar-item">
                            <a href="#"><img src="img/cat-feature/small-1.jpg" alt=""></a>
                            <div class="sidebar-item-text">
                                <div class="cat-name">Vegan</div>
                                <h6>One Pot Weeknight Lasagna Soup Recipe</h6>
                            </div>
                        </div>
                        <div class="sidebar-item">
                            <a href="#"><img src="img/cat-feature/small-2.jpg" alt=""></a>
                            <div class="sidebar-item-text">
                                <div class="cat-name">Vegan</div>
                                <h6>Lava Cake with a Tone of Chocolate</h6>
                            </div>
                        </div>
                        <div class="sidebar-item">
                            <a href="#"><img src="img/cat-feature/small-3.jpg" alt=""></a>
                            <div class="sidebar-item-text">
                                <div class="cat-name">Vegan</div>
                                <h6>One Pot Weeknight Lasagna Soup Recipe</h6>
                            </div>
                        </div>
                        <div class="sidebar-item">
                            <a href="#"><img src="img/cat-feature/small-4.jpg" alt=""></a>
                            <div class="sidebar-item-text">
                                <div class="cat-name">Vegan</div>
                                <h6>Smoked Salmon mini Sandwiches with Onion</h6>
                            </div>
                        </div>
                        <div class="sidebar-item">
                            <a href="#"><img src="img/cat-feature/small-5.jpg" alt=""></a>
                            <div class="sidebar-item-text">
                                <div class="cat-name">Vegan</div>
                                <h6>Asparagus with Pork Loin and Vegetables</h6>
                            </div>
                        </div>
                        <div class="sidebar-item">
                            <a href="#"><img src="img/cat-feature/small-6.jpg" alt=""></a>
                            <div class="sidebar-item-text">
                                <div class="cat-name">Vegan</div>
                                <h6>Dry Cookies with Corn</h6>
                            </div>
                        </div>
                        <div class="sidebar-item">
                            <a href="#"><img src="img/cat-feature/small-7.jpg" alt=""></a>
                            <div class="sidebar-item-text">
                                <div class="cat-name">Vegan</div>
                                <h6>Italian Tiramisu with Coffe</h6>
                            </div>
                        </div>
                    </div>
                    <div class="about-right-add set-bg" data-setbg="img/about-right.jpg">
                        <h4>Buy my Cook Book</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Me Section End -->
<!-- Similar Recipe Section Begin -->
<section class="similar-recipe spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="img/cat-feature/small-7.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Italian Tiramisu with Coffe</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="img/cat-feature/small-6.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Dry Cookies with Corn</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="img/cat-feature/small-5.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Asparagus with Pork Loin and Vegetables</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="similar-item">
                    <a href="#"><img src="img/cat-feature/small-4.jpg" alt=""></a>
                    <div class="similar-text">
                        <div class="cat-name">Vegan</div>
                        <h6>Smoked Salmon mini Sandwiches with Onion</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Similar Recipe Section End -->