    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="fs-left">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="~/Content/Images/small-logo.png" alt="">
                        </a>
                    </div>
                    <p>
                        Rețete variate – De la preparate tradiționale la creații moderne, fiecare rețetă este testată și descrisă pas cu pas.
                        O comunitate activă – Îți poți împărtăși propriile rețete, poți primi feedback și poți interacționa cu alți pasionați de gastronomie.
                        Sfaturi și trucuri – Descoperă secretele bucătarilor experimentați și îmbunătățește-ți tehnicile culinare.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                @using (Html.BeginForm("SubscribeNews", "Home", FormMethod.Post)){ 
                    <div class="subscribe-form">
                        <h3>Abonați-vă la buletinul nostru informativ</h3>
                        <input type="email" name="email" placeholder="E-mail">
                        <button type="submit">Abonează-te</button>
                    </div>
                }
                <div class="social-links">
                    <a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>
                    <a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
                    <a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                    <a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                    <a href="#"><i class="fa fa-youtube"></i><span>Youtube</span></a>
                </div>
            </div>
        </div>
        
    </div>
