    <div class="container">
        <div class="logo">
            <a href="./index.html" class="logo"><img src="~/Content/Images/logo.png" class="img-fluid" alt=""></a>
        </div>
        <div class="nav-menu">
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a href="#">Acasă</a></li>
                    <li>
                        <a href="#">Pagini</a>
                        <ul class="sub-menu">
                            <li><a href=@Url.Action("aboutMe", "home")>Despre noi</a></li>
                            <li><a href=@Url.Action("index", "recipes")>Rețete</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Trimiteți o rețetă</a></li>
                        </ul>
                    </li>

                    @if (Session["UserID"] != null)
                    {
                        <li><a href="@Url.Action("index", "account")">Cont</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("index", "login")">Logare</a></li>
                    }

                </ul>
            </nav>
            <div class="nav-right search-switch">
                <i class="fa fa-search"></i>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
