    <div class="container-fluid">
        <div class="logo">
            <a href="./index.html"><img src=@Url.Content("~/Content/Images/small-logo.png") class="small-logo" alt=""></a>
        </div>
        <div class="nav-menu">
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a href=@Url.Action("Index", "Home")>Acasă</a></li>
                    <li>
                        <a href="#">Pagini</a>
                        <ul class="sub-menu">
                            <li><a href=@Url.Action("AboutMe", "Home")>Despre noi</a></li>
                            <li><a href=@Url.Action("Index", "Recipes")>Rețete</a></li>
                        </ul>
                    </li>
                    <li><a href=@Url.Action("Recipe", "Account")>Trimiteți o rețetă</a></li>
                </ul>
            </nav>
            
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
